---
import PageLayout from '@/layouts/PageLayout.astro'
import Highlight from '@/components/Highlight.astro'
---

<PageLayout title="Books">
	<div class="max-w-[800px] mx-auto px-4 py-16">
		<header class="space-y-4 mb-8">
			<h1 class="text-4xl font-bold">
				<Highlight>Books</Highlight>
			</h1>
			<p>Here are some of the books I've read and recommend.</p>
			<hr class="w-[100px] border-zinc-200 dark:border-zinc-700" />
		</header>
		<ul>
			<li>
				<a
					href="https://www.thriftbooks.com/w/steve-jobs-by-walter-isaacson/248446/?resultid=84906f53-12f0-4bbc-af97-9ac76d197076#edition=6140133&idiq=3427997"
				>
					Steve Jobs -- Walter Isaacson
				</a>
			</li>
			<li>
				<a
					href="https://www.thriftbooks.com/w/elon-musk_walter-isaacson/38328147/?resultid=5ec6680d-5084-48d4-a963-507716ec103c#edition=66268401&idiq=62883079"
					>Elon Musk -- Walter Isaacson</a
				>
			</li>

			<li>
				<a
					href="
                https://www.thriftbooks.com/w/liftoff_eric-berger/26607131/?resultid=afa7352c-5478-4662-ba79-3af89e1fbb0b#edition=33293364&idiq=46116370"
					>Liftoff -- Eric Berger</a
				>
			</li>
			<li>
				<a
					href="https://www.thriftbooks.com/w/the-12-most-valuable-things-everyone-should-know-a-psychologists-guide-to-life-in-the-modern-world_jordan-b-peterson/13865942/?resultid=62b8208a-a117-41bf-8c4f-3c3be9dbb9e4#edition=13520242&idiq=27470696"
				>
					12 Rules For Life -- Jordan B. Peterson</a
				>
			</li>
			<li></li>
		</ul>
	</div>
</PageLayout>
